# Podaci (preveliki za git)
data/
outputs/train_cache/

# Checkpointi (osim best_model.pth koji se commitira)
*.ckpt

# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
